CompileFlags:
  Add: [-x, c, -std=gnu11, --target=x86_64-w64-windows-gnu, -D_CRT_SECURE_NO_WARNINGS, -DBSON_STATIC, -DUSING_UV_SHARED=1, -I, C:/Users/huaweiwei/Desktop/project_one/ge/libuv/include, -I, C:/Users/huaweiwei/Desktop/project_one/ge/libbson/src/bson, -I, C:/Users/huaweiwei/Desktop/project_one/ge/lua/src, -I, C:/Users/huaweiwei/Desktop/project_one/ge/libbson/src, -I, C:/Users/huaweiwei/Desktop/project_one/ge/build/libbson/src, -I, C:/Users/huaweiwei/Desktop/project_one/ge/mongo-c-driver/src/common/src, -I, C:/Users/huaweiwei/Desktop/project_one/ge/build/libbson/src/common/src, -fno-builtin, -isystem, C:/msys64/mingw64/lib/clang/21/include, -isystem, C:/msys64/mingw64/include, -isystem, C:/msys64/mingw64/x86_64-w64-mingw32/include]
  Compiler: C:/msys64/mingw64/bin/gcc.exe